<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <connectionStrings>
    <add name="DrawingsProductionContext" connectionString="Data Source=MW75X2S6BQZQOW\sqlexpress;Initial Catalog=DrawingsProduction;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="DrawingsBackupContext" connectionString="Data Source=MW75X2S6BQZQOW\sqlexpress;Initial Catalog=DrawingsProduction;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <log4net>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="SqlServerRepository" />
    </root>

    <appender name="SqlServerRepository" type="log4net.Appender.FileAppender">
      <file value="..\..\..\TestData\Logs\SqlServerRepository.txt" />
      <appendToFile value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{MMMM dd, yyyy HH:mm:ss} - %message%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>